# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
Vagrantfile text
README.md text

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
docs/INSTALL text eol=lf
debian/raspberrypi* text eol=lf
*.dts text eol=lf

# Denote all files that are truly binary and should not be modified.
docs/*.psd binary
docs/*.aep binary
docs/*.gif binary
docs/*.png binary
boot/overlays/*.dtb binary
