Package: raspberrypi-bootloader-adafruit
Source: raspberrypi-firmware-adafruit
Conflicts: raspberrypi-bootloader
Replaces: raspberrypi-bootloader
Provides: raspberrypi-bootloader
Version: 1.20140917-1
Architecture: armhf
Maintainer: Adafruit <support@adafruit.com>
Section: admin
Priority: extra
Homepage: https://github.com/raspberrypi/firmware
Description: Raspberry Pi kernel/bootloader with Adafruit patches
 This package contains the Raspberry Pi bootloader, kernel, and modules,
 and includes patches from Adafruit for PWM support, power switch support,
 and LCD support.
