Package: raspberrypi-bootloader
Source: raspberrypi-firmware
Conflicts: raspberrypi-bootloader
Replaces: raspberrypi-bootloader
Provides: raspberrypi-bootloader
Version: 1.20140917-1
Architecture: armhf
Maintainer: Adafruit <support@adafruit.com>
Section: admin
Priority: extra
Homepage: https://github.com/raspberrypi/firmware
Description: Custom Raspberry Pi kernel built by Adafruit's Kernel-o-Matic
 This package contains the Raspberry Pi bootloader, kernel, and modules.
